input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
}
input[type='range']::-moz-range-track {
  height: 2px;
}
input[type='range']::-ms-track {
  height: 2px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 21px;
  background: var(--thumbColor);
  cursor: pointer;
  top: -15px;
  position: relative;
  border-radius: 4px;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 21px;
  top: -15px;
  background: var(--appBabyBlue);
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 21px;
  top: -15px;
  background: var(--appBabyBlue);
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}
